/* Page styles */
.impDiv{
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: 'Roboto', Verdana, Tahoma, sans-serif;
  background-color: var(--dark-background);
  color: var(--dark-text);
}

html, #root {
  background-color: var(--dark-background);
  color: var(--dark-text);
  height: 100%;
}

nav {
  background-color: var(--dark-background);
  color: var(--light-text);
}

.main {
  background-color: var(--light-background);
}

a {
  color: #fff;
}

a.card-link {
  color: #000;
  font-weight: bold;
  font-size: 1.3em;
  cursor: pointer;
}

a.card-link:hover {
  color: #000;
  font-weight: bold;
  cursor: pointer;
}

h3 {
  margin-left: 15px;
}

p {
  margin-left: 15px;
}

/* Forms */
form {
  max-width: 500px;
  margin: 0 auto;
  background-color: var(--dark-background);
  color: var(--light-text);
}

input {
  display: block;
  width: 100%;
  border-radius: 4px;
  border: 1px solid black;
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 16px;
}

textarea {
  height: 9em;
  display: block;
  width: 100%;
  border-radius: 4px;
  border: 1px solid black;
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 14px;
}

label {
  line-height: 1;
  text-align: left;
  display: block;
  margin-bottom: 13px;
  margin-top: 20px;
  font-size: 1.2em;
  font-weight: bold;
}

input[type="submit"] {
  background: #9DA5A8;
  text-transform: uppercase;
  border: none;
  margin-top: 20px;
  padding: 10px;
  font-size: 24px;
  letter-spacing: 5px;
  font-weight: 600;
}

input[type="submit"]:hover {
  background: #B0B0B0;
}

input[type="button"]:active,
input[type="submit"]:active {
  transition: 0.3s all;
  transform: translateY(3px);
  border: 1px solid transparent;
  opacity: 0.8;
}

/* Footer */
.footer {
  margin-top: auto;
  text-align: center;
  background-color: var(--dark-background);
  color: var(--light-text);
}

/* Light and Dark Mode */
.theme-dark {
  --dark-text: #E8E8E8;
  --light-text: #E8E8E8;  
  --dark-background: #0c151c;
  --light-background: #586F7C;
  --accent: #B8DBD9;
  --button-border: #B8DBD9;
}

.theme-light {
  --dark-text: #000;
  --light-text: #000;
  --dark-background: #5588A3;
  --light-background: #EDDCD2;
  --accent: #DBE7E4;
  --button-border: #5E4B56;
}

.copyCatCard {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  width: 40em;
}

.contact-form {
  width: 500px;
}

#homeHeader {
  font-size: 20px;
}

@media only screen and (max-width: 540px) {
  .copyCatCard {
    width: 100%;
  }

  .contact-form {
    width: 280px;
  }

  #homeHeader {
    font-size: 5px;
  }

  #homeItems {
    font-size: 5px;
  }
}