/* Page styles */
.impDiv{
  display: flex;
  flex-direction: column;
  background: #4b4b4b;
  height: 100vh;
  font-family: 'Roboto', Verdana, Tahoma, sans-serif;
  color: #fff;
}

/* Contact */
form {
  max-width: 500px;
  margin: 0 auto;
}

input {
  display: block;
  width: 100%;
  border-radius: 4px;
  border: 1px solid black;
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 14px;
}

#root > div > form > .contact-form {
  max-width: 500px;
}

textarea {
  height: 10em;
  display: block;
  width: 100%;
  border-radius: 4px;
  border: 1px solid black;
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 14px;
}

label {
  line-height: 1;
  text-align: left;
  display: block;
  margin-bottom: 13px;
  margin-top: 20px;
  font-size: 1.2em;
  font-weight: bold;
}

input[type="submit"] {
  background: #737373;
  text-transform: uppercase;
  border: none;
  margin-top: 20px;
  padding: 10px;
  font-size: 24px;
  letter-spacing: 5px;
  font-weight: 600;
}

input[type="submit"]:hover {
  background: #9DA5A8;
}

input[type="button"]:active,
input[type="submit"]:active {
  transition: 0.3s all;
  transform: translateY(3px);
  border: 1px solid transparent;
  opacity: 0.8;
}